In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv")
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
df.to_csv("../data/raw/data.csv", index=False)

In [5]:
dicionario = pd.DataFrame([
    {
        "variavel": "survived",
        "descricao": "Binário (0 ou 1) - Indica se o passageiro sobreviveu ou não",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "pclass",
        "descricao": "Classe da passagem",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "sex",
        "descricao": "Sexo dos passageiros",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "age",
        "descricao": "Idade",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "sibsp",
        "descricao": "Quantidade de irmãos e cônjuges a bordo",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "parch",
        "descricao": "Quantidade de filhos e enteados, pai ou mãe - 0 para quem foi somente com baba",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "fare",
        "descricao": "Valor da passagem",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "embarked",
        "descricao": "Portão de embarque",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "class",
        "descricao": "Classe da passagem",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "who",
        "descricao": "Categoriza o passageiro em homem, mulher e criança",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "adult_male",
        "descricao": "Indica se o passageiro é um homem adulto",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "deck",
        "descricao": "Indica a sessão do navio",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "embark_town",
        "descricao": "Cidade de embarque",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "alive",
        "descricao": "Indica se o passageiro está vivo",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "alone",
        "descricao": "Indica se o passageiro viajava sozinho",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    }
])
    
dicionario.to_csv("../data/external/dictionary.csv", index=False)
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Binário (0 ou 1) - Indica se o passageiro sobr...,qualitativa,nominal
1,pclass,Classe da passagem,qualitativa,ordinal
2,sex,Sexo dos passageiros,qualitativa,nominal
3,age,Idade,quantitativa,continua
4,sibsp,Quantidade de irmãos e cônjuges a bordo,quantitativa,discreta
5,parch,"Quantidade de filhos e enteados, pai ou mãe - ...",quantitativa,discreta
6,fare,Valor da passagem,quantitativa,continua
7,embarked,Portão de embarque,qualitativa,nominal
8,class,Classe da passagem,qualitativa,ordinal
9,who,"Categoriza o passageiro em homem, mulher e cri...",qualitativa,nominal
10,adult_male,Indica se o passageiro é um homem adulto,qualitativa,nominal
11,deck,Indica a sessão do navio,qualitativa,nominal
12,embark_town,Cidade de embarque,qualitativa,nominal
13,alive,Indica se o passageiro está vivo,qualitativa,nominal
14,alone,Indica se o passageiro viajava sozinho,qualitativa,nominal